/* font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --base-color: #00183e;
  --light-color: #64bbf9;
  --dark-color: #252e80;
}
h2 {
  font-size: 45px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--base-color);
  color: white;
}
p {
  text-align: justify;
  text-justify: inter-word;
}
.firstpage {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background: url(/images/new.eps) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.firstpage h1 {
  font-size: 50px;
  text-align: center;
  color: var(--light-color);
}
.firstpage p {
  text-align: justify;
  text-justify: auto;
}
/* .nopad {
  padding-right: -15px;
  margin-right: -15px;
} */
.blueimg {
  filter: brightness(105%);
  -webkit-filter: brightness(105%);
  -moz-filter: sepia(25%) blur(1px) brightness(105%);
  height: 80%;
}

.secondpage {
  color: var(--dark-color);
  background-color: white;
  padding-left: -20px;
  padding-right: -20px;
  padding-bottom: 100px;
}
.fifthPage {
  color: var(--dark-color);
  background-color: white;
  padding-left: -20px;
  padding-right: -20px;
}
.fifthPage h2 {
  margin-bottom: 0px;
  font-weight: 700;
  color: var(--light-color);
}

.secondpage h2 {
  margin-bottom: 0px;
  font-weight: 700;
  color: var(--light-color);
}
.thirdpage h2 {
  margin-bottom: 0px;
  font-weight: 700;
}
.secondpage p {
  font-size: 20px;
  margin-bottom: 0px;
}

.secondpage img {
  width: 80px;
}
@media (max-width: 700) {
  .secondpage img {
    width: 40px;
  }
}

.step {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  position: relative;
  left: 5px;
  max-width: 50%;
  margin-bottom: 10px;
  color: white;
}
.stepsec {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  position: relative;
  left: 5px;
  max-width: 50%;
  margin-bottom: 10px;
}
.stepsec a:hover {
  color: #64bbf9 !important;
}
.btn a:hover {
  color: #64bbf9 !important;
}

.stepIcon1 {
  position: relative;
  left: 10px;
}
.stepIcon2 {
  position: relative;
  left: 14px;
}
.stepIcon3 {
  position: relative;
  left: 16px;
}
.stepIcon4 {
  position: relative;
  left: 15px;
}
.step1 {
  position: relative;
  left: -12px;
}
.step2 {
  position: relative;
  left: -5px;
}
.step3 {
  position: relative;
  left: 12px;
}
.step4 {
  position: relative;
  left: 8px;
}
.number {
  position: relative;
  right: -15px;
  width: 60px;
  margin-bottom: 15px;
  padding-top: 20px;
}
.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.stepIcon {
  width: 60px;
  margin-bottom: 80px;
  padding-top: 30px;
}

@media (max-width: 400px) {
  .secondpage p {
    font-size: 15px;
    margin-bottom: 0px;
    text-align: left;
  }

  h2 {
    font-size: 24px;

    font-weight: 700;
  }

  .firstpage p {
    padding-left: 27px;
  }

  .number {
    position: relative;
    right: 0px;
    width: 40px;
    margin-bottom: 15px;
  }
  .step1 {
    position: relative;
    left: -5px;
  }
  .step2 {
    position: relative;
    left: -5px;
  }
  .step3 {
    position: relative;
    left: 0px;
  }
  .step4 {
    position: relative;
    left: 0;
  }
  .stepIcon1 {
    position: relative;
    left: 4px;
  }
  .stepIcon2 {
    position: relative;
    left: 0px;
  }
  .stepIcon3 {
    position: relative;
    left: 0px;
  }
  .stepIcon4 {
    position: relative;
    left: 7px;
  }
  .stepIcon {
    margin-bottom: 70px;
  }
  p {
    font-weight: 200;
  }
}

.makebig {
  font-size: 38px;
}
.al {
  padding-bottom: 2.8em;
}
.thirdpage img {
  margin-top: 20px;
  width: 90px;
}
.thirdpage {
  background: url(/images/bg-n.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 200px;
}
.furthpage {
  padding-bottom: 150px;
}
.cols {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-column-gap: 10px;
  text-align: center;
}
.oneFive {
  grid-column: 1 / span 6; /* 2 x 6 */
}

.twoFive {
  grid-column: 7 / span 6; /* 3 x 6 */
}
.threeFive {
  grid-column: 13 / span 6;
}
.fourFive {
  grid-column: 19 / span 6;
}
.five {
  grid-column: 25 / span 6;
}
.furthpage h3 {
  font-size: 24px;
}
.furthpage img {
  width: 70px;
}

.sameh {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
  border-spacing: 10px;
}

.child {
  display: table-cell; /* Make elements inside the container behave like table cells */
  width: 20%;
}
.makehalf {
  margin: auto;
  max-width: 70%;
}
.fif {
  font-size: 30px;
  border-color: #252e80;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  font-weight: 600;
  color: #252e80;
  margin: 20px 50px 20px 50px;
}
@media (max-width: 1000px) {
  .fif {
    font-size: 24px;
  }

  .number {
    width: 10px;
  }
}

.sameh1 {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
  border-spacing: 20px;
}
.child1 {
  display: table-cell; /* Make elements inside the container behave like table cells */
  width: 40%;
}
.child2 {
  display: table-cell;

  width: 30%;
  margin: 0 auto;
}

.fi {
  font-size: 30px;
}

.img5 {
  margin: 0 auto;
}
/* .six1 {
  text-align: center;

  justify-content: space-evenly;
  background: url(/images/61.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.six2 {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background: url(/images/62.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.sixPage p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 200%;
}
.sixPage h2 {
  text-align: left;
  color: #bde6fd;
}
.sevenPage h2 {
  text-align: left;
  color: #bde6fd;
}
.sevenPage {
  text-align: center;

  justify-content: space-evenly;
  background: url(/images/61.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sixPage {
  text-align: center;

  justify-content: space-evenly;
  background: url(/images/61.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.who {
  background: url(/images/Team.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #252e80;

  background-position: 0% 10%;
  height: 300px;
}
.about {
  font-family: "PT Sans", sans-serif;
}
.about h1 {
  font-size: 55px;
  font-weight: 800;
}
.about h2 {
  font-size: 67px;
  font-weight: 800;
}
.about p {
  text-align: center;
  font-weight: 200;

  font-size: 32px;
  padding-top: 30px;
}
@media (max-width: 800px) {
  .who {
    height: 200px;
  }
}
@media (max-width: 600px) {
  .about h1 {
    font-size: 36px;
    font-weight: 400;
  }
  .who {
    height: 200px;
  }
}

.team {
  margin: 0 auto;
  padding-top: 40px;
}
.team img {
  border-radius: 10%;
  height: 180px;
  object-fit: cover;
  width: 180px;
  margin: 0 auto;
}
.people {
  justify-content: center;
}
.team p {
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 30px;
}
.fact {
  background-color: white;
  color: #757575;
}
.mf1 {
  background-color: #d6e1fe;
  color: var(--dark-color);
  padding-left: 30px;
}
.logo {
  max-width: 130px;
  margin: 0 auto;
}
.devider {
  border-color: var(--base-color);
}
.fact h2 {
  font-size: 36px;
  color: black;
  font-weight: 700;
}
.fact p {
  font-weight: 600;
  line-height: 2;
  font-size: 18px;
}
.fact h1 {
  font-size: 46px;
}
.fact h3 {
  font-weight: 400;
}
.chdark {
  color: black;
}

@media (max-width: 800px) {
  .fact h2 {
    font-size: 24px;
    color: black;
    font-weight: 450;
    padding-bottom: 0;
  }
  .fact p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
  }
  .fact h1 {
    font-size: 30px;
  }
  .fact h3 {
    font-weight: 300;
  }
  .pn {
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
  }
  .chdark {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .fact h2 {
    font-size: 18px;
    text-align: left;
  }
  .fact p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
  }
  .pn {
    font-weight: 400;
    line-height: 1.5;
    font-size: 8px;
  }
}
.fa-brands {
  color: white;
  background-color: darkblue;
}
.contact h1 {
  font-size: 55px;
  font-weight: 500;
}
.con {
  font-size: 40px;
  font-weight: 500;
}
.chb {
  color: #64bbf9;
}
.ans {
  font-size: 32px;
}
.contact a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.i1 {
  position: relative;
  top: 7px;
  color: white;
  background-color: #252e80;
}
.fir {
  position: relative;
  right: 3px;
}
.navLogo {
  max-height: 40px;
  position: relative;
  top: -5px;
  right: 10px;
}
.nav-link {
  font-size: 18px;
}

.navbar {
  background-color: var(--base-color);
  padding-top: 20px;
}
.container-fluid {
  justify-content: center !important;
}
.navbar-collapse {
  justify-content: center !important;
}

footer {
  background-color: #d6e1fe;
  color: #252e80;
}
.foottext {
  font-size: 12px;
  font-weight: 400;
}

.fot1 {
  color: var(--base-color);
  font-size: 24px;
}
.social {
  justify-content: center;
}
.soc1 {
  margin: 0 10px 10px 10px;
  font-size: 30px;
}
.soc2 {
  margin: 0 10px 10px 10px;
  font-size: 30px;
}
footer a {
  text-decoration: none;

  font-size: 24px;
  background-color: #d6e1fe;
  color: #00183e;
  padding: 4px;
}

footer .fa-brands {
  background-color: #d6e1fe;
  color: #00183e;
  padding: 8px;
  border-radius: 50%;
}
footer .fa-brands:hover {
  background-color: #00183e;
  color: #d6e1fe;
}
@media (max-width: 800px) {
  .navLogo {
    max-height: 30px;
  }
  .nav-link {
    font-size: 16px;
  }
  .container-fluid {
    justify-content: space-between !important;
  }
  .navbar-collapse {
    justify-content: space-between !important;
  }
  .fot1 {
    font-size: 18px;
  }
  .navbar {
    padding-top: 0;
  }
  .contact h1 {
    font-size: 40px;
  }
  .con {
    font-size: 28px;
  }
}
